<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="host" value="localhost" />
		<add key="uid" value="root" />
		<add key="password" value="" />
		<add key="db" value="db38" />
	</appSettings>
	<applicationSettings>
		<DemoExample.Properties.Settings>
			<setting name="AdminUsername" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="AdminPassword" serializeAs="String">
				<value>admin</value>
			</setting>
		</DemoExample.Properties.Settings>
	</applicationSettings>
</configuration>